@using System.Diagnostics.CodeAnalysis

<div class="text-center bg-blue-100">
    <input class="rounded" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search" />
</div>

@code {
    [Parameter, AllowNull]
    public string SearchText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> SearchTextChanged { get; set; }
}
