@page "/BibleBook/{language}/{version}/{book}"
@using System.Text.Json
@using System.Text.Json.Serialization
@using Bible.Core.Models
@rendermode InteractiveServer

@inject BackendApiClient BackendApi

<PageTitle>Bible Book</PageTitle>

@if (bibleBook is null)
{
    <h3>Bible Book</h3>

    <p>Loading...</p>
}
else
{
    <h3>Bible Book: @bibleBook.Reference.BookName</h3>

    <div>
        @foreach (var chapter in bibleBook.Chapters)
        {
            <h4>Chapter @chapter.Reference.Reference</h4>
            <p>
            @foreach (var verse in chapter.Verses)
            {
                <sup>@verse.Id</sup>
                @verse.Text
            }
            </p>
        }
    </div>
}

@code {
    [Parameter]
    public string? language { get; set; }

    [Parameter]
    public string? version { get; set; }

    [Parameter]
    public string? book { get; set; }

    private BibleBook? bibleBook;

    protected override async Task OnParametersSetAsync()
    {
        bibleBook = await BackendApi.GetBibleBookAsync(language, version, book);
    }
}