@page "/"
@using Bible.Core.Models
@using System.Diagnostics.CodeAnalysis
@inject NavigationManager Navigation

<PageTitle>Bible</PageTitle>

<p><em>Loading...</em></p>
@* <BookChapter BookName="@_bookName" ChapterNumber="@_chapterNumber" /> *@

@code {
    [CascadingParameter]
    public string? SearchText { get; set; } //= "John 1";

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Console.WriteLine(SearchText);
        }
    }
}