@using Bible.Usx.Models
@using Unihan.Models

<span class="footnote-wrapper @Footnote.Style">
    <sup class="usj-footnote-caller">@Footnote.Caller</sup>
    <aside class="usj-footnote-content">
        @if (Footnote.Content != null)
        {
            @foreach (var node in Footnote.Content)
            {
                <UsjRenderer Node="node" Ruby="Ruby" />
            }
        }
    </aside>
</span>

@code {
    [Parameter, EditorRequired]
    public UsjFootnote Footnote { get; set; } = default!;

    [Parameter]
    public UnihanField? Ruby { get; set; }
}