@using Bible.Usx.Models
@using Unihan.Models

@if (!string.IsNullOrEmpty(Para.Style) && Para.Style.StartsWith("h", StringComparison.OrdinalIgnoreCase) && !string.IsNullOrEmpty(Para.Text))
{
    <h2>@Para.Text</h2>
}
else if (string.IsNullOrEmpty(Para.Style) || !ParaStylesToHide.Any(p => Para.Style.StartsWith(p, StringComparison.OrdinalIgnoreCase)))
{
    <p class="@($"usj-para {Para.Style}")">
        @if (Para.Content != null)
        {
            @foreach (var node in Para.Content)
            {
                <UsjRenderer Node="node" Ruby="Ruby" />
            }
        }
    </p>
}

@code {
    [Parameter, EditorRequired]
    public UsjPara Para { get; set; } = default!;

    [Parameter]
    public UnihanField? Ruby { get; set; }

    [Parameter]
    public IReadOnlyList<string> ParaStylesToHide { get; set; } = UsjConstants.ParaStylesToHide;
}