@page "/feed"

<PageTitle>Verse of the Day</PageTitle>

<h1>Verse of the Day</h1>

<hr />

<div id="dailyVersesWrapper"></div>
<script async defer src="https://dailyverses.net/get/verse.js?language=niv"></script>