@page "/{Language=eng}/{BibleVersion=WEBBE}/{BookCode=3JN}/{ChapterNumber:int?}"
@using Bible.Backend.Services
@using Bible.Data
@using Bible.Usx.Models
@using Bible.Usx.Services
@using Bible.Wasm.Shared.Usj
@inject UsjBookService UsjBookService

@if (UsjBook == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* <div class="d-flex flex-column align-center">
        <MudPagination BoundaryCount="1" MiddleCount="3" Count="@_chapterCount" Selected="@ChapterNumber" SelectedChanged="ChapterChanged" Class="mt-4" />
    </div> *@

    <UsjRenderer Node="@UsjBook" ShowRuby="@_showRuby" />
}

@code {
    [Parameter, EditorRequired]
    public string? Language { get; set; }

    [Parameter, EditorRequired]
    public string? BibleVersion { get; set; }

    [Parameter, EditorRequired]
    public string? BookCode { get; set; }

    [Parameter]
    public int? ChapterNumber { get; set; } = 1;
    
    // [Inject]
    // private BibleBookService BibleBookService { get; set; } = default!;

    // int _chapterCount => UsjBook?.ChapterCount ?? 0;

    private bool _showRuby = false;
    private UsjBook? UsjBook;

    protected override async Task OnParametersSetAsync()
    {
        // _bibleBook = await BibleBookService.GetBibleBookAsync(Language, BibleVersion, BookCode);
        // var verse = BibleBookExtensions.ToRubyRunes(verseMarkup, BibleBookService.Unihan);
        // UsjBook = await UsjRenderVisitor.DeserializeAsync(Language, BibleVersion, BookCode);
        UsjBook = await UsjBookService.GetBookAsync(Language, BibleVersion, BookCode);
    }
}