@page "/KJV/{BookCode=John}/{ChapterNumber:int}"
@using System.Diagnostics.CodeAnalysis
@using Bible.Backend.Adapters
@using Bible.Backend.Services
@using Bible.Core.Models
@using Bible.Data;
@using System.Text

@* See also: https://github.com/MeysamMoghaddam/BlazorEpubReader/blob/master/Epub.razor *@

@if (_bibleBook is null)
{
    <p><em>Loading KJV chapter...</em></p>
}
else
{
    <div class="d-flex flex-column align-center">
        <MudPagination BoundaryCount="1" MiddleCount="3" Count="@_chapterCount" Selected="@ChapterNumber" SelectedChanged="ChapterChanged" Class="mt-4" />
    </div>

    <h2 style="color: dimgrey;">@_reference</h2>

    <p>
        @_bibleVerses
    </p>

    <br />

    @foreach (var note in _verseNotes)
    {
        <div id="footnote-@note.Id" class="footnote">[@note.Id] @note.Content</div>
    }

    <style>
        .footnote {
            font-size: 0.8em;
            font-style: italic;
        }
    </style>
}

@code {
    [Parameter, EditorRequired]
    public string? BookName { get; set; }

    [Parameter]
    public int ChapterNumber { get; set; } = 1;

    internal static readonly string EngLanguage = "eng";
    internal static readonly string KjvVersion = "KJV";

    string page => $"{BookName}/{ChapterNumber}";
    string? _reference;
    BibleBook? _bibleBook;
    int _chapterCount => _bibleBook?.ChapterCount ?? 0;
    MarkupString? _bibleVerses;
    List<BibleFootnote> _verseNotes = new();

    [Inject]
    private BasicDataService BasicDataService { get; set; } = default!;

    [Inject]
    private IServiceProvider ServiceProvider { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        _bibleBook = await BasicDataService.LoadBookAsync(KjvVersion, BookName);
        await LoadChapterAsync(ChapterNumber);
    }

    private async Task LoadChapterAsync(int chapterNumber)
    {
        ChapterNumber = chapterNumber;
        _verseNotes.Clear();

        var bibleChapter = _bibleBook?.Chapters.FirstOrDefault(c => c.Id == ChapterNumber);
        if (bibleChapter == null)
            return;

        _reference = bibleChapter.Reference.ToReference();

        var chapter = new StringBuilder();
        foreach (var bibleVerse in bibleChapter.Verses)
        {
            (var verseMarkup, var footnotes) = bibleVerse.SplitVerseFootnotes();
            chapter.Append(verseMarkup).Append(" ");
            _verseNotes.AddRange(footnotes);
        }
        _bibleVerses = (MarkupString)chapter.ToString();

        await InvokeAsync(StateHasChanged);
    }

    private void ChapterChanged(int chapterNumber)
    {
        _ = LoadChapterAsync(chapterNumber);
    }
}