@using Bible.Usx.Models
@using Unihan.Models

<section class="usj-book">
    @if (Book.Metadata != null)
    {
        <UsjIdentificationRenderer Identification="Book.Metadata" />
    }
    @if (Book.Content != null)
    {
        @foreach (var node in Book.Content)
        {
            <UsjRenderer Node="node" Ruby="Ruby" />
        }
    }
</section>

@code {
    [Parameter, EditorRequired]
    public UsjBook Book { get; set; } = default!;

    [Parameter]
    public UnihanField? Ruby { get; set; }
}