@using Bible.Usx.Models
@using Unihan.Models

<a href="@($"#{CrossReference.Location}")" class="@($"usj-crossref {CrossReference.Style}")">
    @if (CrossReference.Content != null)
    {
        @foreach (var node in CrossReference.Content)
        {
            <UsjRenderer Node="node" Ruby="Ruby" />
        }
    }
</a>

@code {
    [Parameter, EditorRequired]
    public UsjCrossReference CrossReference { get; set; } = default!;

    [Parameter]
    public UnihanField? Ruby { get; set; }
}