@using Bible.Usx.Models

<section class="usj-identification">
    <p>@($"{Identification.VersionDescription} - {Identification.BookCode}")</p>
</section>

@code {
    [Parameter, EditorRequired]
    public UsjIdentification Identification { get; set; } = default!;
}