@using Bible.Usx.Models
@using Unihan.Models

@if (Node == null)
{
    <p>No content to render.</p>
}
else
{
    @switch (Node)
    {
        case UsjBook book:
            <UsjBookRenderer Book="book" Ruby="Ruby" />
            break;
        case UsjIdentification id:
            <UsjIdentificationRenderer Identification="id" />
            break;
        case UsjChapterMarker chapter:
            <UsjChapterMarkerRenderer ChapterMarker="chapter" />
            break;
        case UsjVerseMarker verse:
            <UsjVerseMarkerRenderer VerseMarker="verse" />
            break;
        case UsjPara para:
            <UsjParaRenderer Para="para" Ruby="Ruby" />
            break;
        case UsjChar ch:
            <UsjCharRenderer Char="ch" Ruby="Ruby" />
            break;
        case UsjText text:
            <UsjTextRenderer Text="text" />
            break;
        case UsjMilestone milestone:
            <UsjMilestoneRenderer Milestone="milestone" />
            break;
        case UsjLineBreak lb:
            <UsjLineBreakRenderer LineBreak="lb" />
            break;
        case UsjCrossReference crossRef:
            <UsjCrossReferenceRenderer CrossReference="crossRef" Ruby="Ruby" />
            break;
        case UsjFootnote footnote:
            <UsjFootnoteRenderer Footnote="footnote" Ruby="Ruby" />
            break;
        default:
            <p>[Unsupported node type: @Node.GetType().Name]</p>
            break;
    }
}

@code {
    [Parameter, EditorRequired]
    public IUsjNode? Node { get; set; }

    [Parameter]
    public UnihanField? Ruby { get; set; }
}